

<EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="row" >
         <label for="nombre" >Nombre:</label>
         <InputText id="nombre" class="form-control" @bind-Value="model.Nombre" ></InputText>
        <ValidationMessage For="@(()=> model.Nombre)" />
    </div>
    <div class="row" >
        <label for="clasificacion">Clasificacion:</label>
        <InputText id="clasificacion" class="form-control" @bind-Value="model.Clasificacion"></InputText>
        <ValidationMessage For="@(()=> model.Clasificacion)" />
    </div>

      <div class="row" >
         <label for="fecha" >Fecha De Estreno:</label>
        <InputDate id="fecha" class="form-control" @bind-Value="model.FechaEstreno"></InputDate>
         <ValidationMessage For="@(()=> model.FechaEstreno)" />
    </div>

    <div class="row" >
         <label for="protagonista" >Protagonista:</label>
        <InputText typeof="protagonista" id="email" class="form-control" @bind-Value="model.Protagonista"></InputText>
        <ValidationMessage For="@(()=> model.Protagonista)" />
    </div>
   

     <div class="row" >
         <label for="director" >Director:</label>
        <InputText id="director" class="form-control" @bind-Value="model.Director"></InputText>
        <ValidationMessage For="@(()=> model.Director)" />
    </div>

      <div class="row" >
        <label for="idioma">Idioma:</label>
        <InputText id="idioma" class="form-control" @bind-Value="model.Idioma"></InputText>
        <ValidationMessage For="@(()=> model.Idioma)" />
    </div>

         <div class="row" >
        <label for="duracion">Duracion:</label>
        <InputText id="duracion" class="form-control" @bind-Value="model.Duracion"></InputText>
        <ValidationMessage For="@(()=> model.Duracion)" />
    </div>

    <div class="row">
        <label for="sinopsis">Sinopsis:</label>
        <InputText id="sinopsis" class="form-control" @bind-Value="model.Sinopsis"></InputText>
        <ValidationMessage For="@(()=> model.Sinopsis)" />
    </div>
      <div class="row">
        <label for="idCategoria">Categoria:</label>
        <InputNumber id="idCategoria" class="form-control" @bind-Value="model.IdCategoria"></InputNumber>
        <ValidationMessage For="@(()=> model.IdCategoria)" />
    </div>

    <br />
    <button class="btn btn-primary" type="submit">Guardar</button>
    <button type="button" @onclick="onCancel" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
 
   

</EditForm>



@code {
    [Parameter] public string modo { get; set; } = "crear";

    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
    [Parameter] public DTOs.Pelicula.PeliculaActualizarDTO model { get; set; }

    private DTOs.Pelicula.PeliculaActualizarDTO peliculaInsertar = new DTOs.Pelicula.PeliculaActualizarDTO();

    private async Task guardar()
    {
       

        await Task.Delay(2000);

    }


}
