@page "/Salas"
@inject IRepositorio repositorioHTTP
@attribute [Authorize(Roles = "ADM")]
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensaje
 

<button class="btn btn-primary" @onclick="Crear">Crear</button>
<ListadoGenerico Listado="sala">
    <HayRegistroCompleto>
      <div class="mt-5" >
           <table class="table">
                <thead>
                   <tr>
                       <th>#</th>
                        <th>Cod</th>
                        <th>Fila</th>
                        <th>Columna</th>
                        <th>Capacidad</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                   </tr>
                </thead>
                <tbody>
                    @foreach (var item in sala!)
                   {
                       <tr>
                           <td>@item.Id</td>
                            <td>@item.Cod</td>
                            <td>@item.Fila</td>
                            <td>@item.Columna</td>
                            <td>@item.Capacidad</td>
                            <td>@item.Estado</td>
                           <td>
                                <AuthorizeView Roles="ADM">
                                <button class="btn-primary" @onclick="@(()=>Modificar(item.Id))">Editar</button>
                                </AuthorizeView>
                                <AuthorizeView Roles="ADM">
                               <button class="btn-danger" @onclick="@(()=> Eliminar(item.Id))">Eliminar</button>
                               </AuthorizeView>
                           </td>
                       </tr>
         
                   }

                </tbody>
          </table>
       </div>

        <Paginacion PaginaActual="paginaActual" PaginaSeleccionada="paginaSeleccionada"
                    PaginasTotales="paginasTotales"></Paginacion>
    </HayRegistroCompleto>
    <NoHayRegistro>
        <h6>no hay registros desde TEST</h6>
    </NoHayRegistro>
    <Cargando>
        <h1>Esperando informaciòn</h1>
    </Cargando>
    

</ListadoGenerico>


@code {

    private int paginaActual = 1;
    private int paginasTotales;

    List<DTOs.Sala.SalaDTO>? sala;
    DTOs.ResponseListDTO<DTOs.Sala.SalaDTO>? responseListDTO;

    

    protected override async Task OnInitializedAsync()
    {
        await TraerDatos();
       
       
    }
    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await TraerDatos(pagina);
    }
    private async Task TraerDatos(int pagina = 1)
    {
        try
        {
            var responseWrapper = await repositorioHTTP.Get<ResponseListDTO<DTOs.Sala.SalaDTO>>($"Salas?Pagina={pagina}&CantidadRegistrosPorPagina=10");
            if (!responseWrapper.Error)
            {
                responseListDTO = responseWrapper.Response;

                sala = responseListDTO.value;
                paginasTotales = responseListDTO.quanty;

            }
        }
        catch (Exception ex)
        {
            var mess = ex.Message;
        }
    }

    private void Crear()
    {
        navigationManager.NavigateTo("/Salas/crear");
    }
    private void Modificar(int id)
    {
        navigationManager.NavigateTo($"/Salas/editar/{id}");
    }
    private async Task Eliminar(int id)
    {
        //var pregunta = await mostrarMensaje.Confirmacion("Eliminar", "Esta seguro de eliminar el registro", "question");
        //if (pregunta)
        //{
            var response = await repositorioHTTP.Delete<object>($"Salas/{id}");
        //    if (!response.Error)
        //    {
        //        await mostrarMensaje.MostrarMensajeExitoso("Registro eliminado");
                await TraerDatos();
        //    }
        //    else
        //    {
        //        await mostrarMensaje.MostrarMensajeError("Error al eliminar el registro");
        //    }
        //}
    }
}
